:root {
    font-size: 24px;

    --navColor: hsl(44, 99%, 59%);
    --bgColor: hsl(0, 0%, 30%);
    --onBgColor: hsl(0, 0%, 100%);
    --otherColor: hsl(215, 77%, 14%);

    --sizeXs: 1rem;
    --sizeSm: calc(var(--sizeXs) * 1.5);
    --sizeMd: calc(var(--sizeSm) * 1.5);
    --sizeLg: calc(var(--sizeMd) * 1.5);
    --sizeXl: calc(var(--sizeLg) * 1.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    overflow-x: hidden;
}